@font-face {
  font-family: "Array-Wide";
  src: url("./Array-Wide.woff2") format("woff2"), url("./Array-Wide.woff") format("woff"), url("./Array-Wide.ttf")
    format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Array-Wide";
  src: url("./Array-Wide.woff2") format("woff2"), url("./Array-Wide.woff") format("woff"), url("./Array-Wide.ttf")
    format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Array-Wide";
  src: url("./Array-Wide.woff2") format("woff2"), url("./Array-Wide.woff") format("woff"), url("./Array-Wide.ttf")
    format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Array";
  src: url("./Array-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Array";
  src: url("./Array-Bold.woff2") format("woff2"), url("./Array-Bold.woff") format("woff"), url("./Array-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Array";
  src: url("./Array-Black.woff2") format("woff2"), url("./Array-Black.woff") format("woff"), url("./Array-Black.ttf")
    format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Array";
  src: url("./Array-Italic.woff2") format("woff2"), url("./Array-Italic.woff") format("woff"), url("./Array-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Array";
  src: url("./Array-BoldItalic.woff2") format("woff2"), url("./Array-BoldItalic.woff") format("woff"),
    url("./Array-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Array";
  src: url("./Array-BlackItalic.woff2") format("woff2"), url("./Array-BlackItalic.woff") format("woff"),
    url("./Array-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Array-BoldWide";
  src: url("./Array-BoldWide.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
