@font-face {
  font-family: "BespokeSerif";
  src: url("./BespokeSerif-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "BespokeSerif";
  src: url("./BespokeSerif-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "BespokeSerif-Light";
  src: url("./BespokeSerif-Light.woff2") format("woff2"), url("./BespokeSerif-Light.woff") format("woff"),
    url("./BespokeSerif-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "BespokeSerif-Regular";
  src: url("./BespokeSerif-Regular.woff2") format("woff2"), url("./BespokeSerif-Regular.woff") format("woff"),
    url("./BespokeSerif-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "BespokeSerif-Medium";
  src: url("./BespokeSerif-Medium.woff2") format("woff2"), url("./BespokeSerif-Medium.woff") format("woff"),
    url("./BespokeSerif-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "BespokeSerif-Bold";
  src: url("./BespokeSerif-Bold.woff2") format("woff2"), url("./BespokeSerif-Bold.woff") format("woff"),
    url("./BespokeSerif-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "BespokeSerif-Black";
  src: url("./BespokeSerif-Black.woff2") format("woff2"), url("./BespokeSerif-Black.woff") format("woff"),
    url("./BespokeSerif-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "BespokeSerif-LightItalic";
  src: url("./BespokeSerif-LightItalic.woff2") format("woff2"), url("./BespokeSerif-LightItalic.woff") format("woff"),
    url("./BespokeSerif-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "BespokeSerif-RegularItalic";
  src: url("./BespokeSerif-RegularItalic.woff2") format("woff2"), url("./BespokeSerif-RegularItalic.woff")
    format("woff"), url("./BespokeSerif-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "BespokeSerif-MediumItalic";
  src: url("./BespokeSerif-MediumItalic.woff2") format("woff2"), url("./BespokeSerif-MediumItalic.woff") format("woff"),
    url("./BespokeSerif-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "BespokeSerif-BoldItalic";
  src: url("./BespokeSerif-BoldItalic.woff2") format("woff2"), url("./BespokeSerif-BoldItalic.woff") format("woff"),
    url("./BespokeSerif-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "BespokeSerif-BlackItalic";
  src: url("./BespokeSerif-BlackItalic.woff2") format("woff2"), url("./BespokeSerif-BlackItalic.woff") format("woff"),
    url("./BespokeSerif-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}
